---
import { AnimatedPinDemo } from "../AnimatedPinDemo";

const pinProjects = [
  {
    headTitle: "Toko Sepatu",
    title: "Toko Sepatu",
    href: "https://tokosepatu.vercel.app/",
    desc: "Landing Page UI/UX Design",
    backgroundImageUrl: "/shoes.jpg",
  },
  {
    headTitle: "Motorycyle Homepage Concept",
    title: "Motorycyle Shop UI Design",
    href: "https://www.figma.com/file/HIQID6Bf50FpXzqzl5Ikph/Playground?type=design&node-id=0%3A1&mode=design&t=rHe6Sop1e4eHEYbz-1",
    desc: "Figma UI Design",
    backgroundImageUrl: "/engine.jpg",
  },
  {
    headTitle: "Trip In Lombok",
    title: "Trip In Lombok",
    href: "https://trip-in-lombok.vercel.app/",
    desc: "Landing Page UI/UX Design",
    backgroundImageUrl: "/gunung.jpg",
  },
] as const;
---

<section class="flex flex-col md:flex-row">
  {
    pinProjects.map((project) => (
      <AnimatedPinDemo
        client:load
        headTitle={project.headTitle}
        title={project.title}
        href={project.href}
        desc={project.desc}
        backgroundImageUrl={project.backgroundImageUrl}
      />
    ))
  }
</section>
