---
import Quote from "../atoms/Quote.astro";
import Line from "../atoms/Line.astro";
import MarqueeText from "../molecules/MarqueeText.astro";
import EmailButton from "../atoms/EmailButton.astro";

const CONTACT_EMAIL = "anggawidiarta55@gmail.com";
const MARQUEE_TEXT =
  "LET'S TALK — LET'S COLLABORATE — SAY HELLO — WANNA BE STARTING SOMETHING?";
const QUOTE_TEXT =
  "In any moment of decision, the best thing you can do is the right thing, the next best thing is the wrong thing, and the worst thing you can do is nothing.";
const EMAIL_LINK = `mailto:${CONTACT_EMAIL}?subject=Lets%20work%20together!&body=Hello%2C%20I%20think%20we%20need%20you%20to%20work%20on%2Fcollaborate%20this%20particular%20product...%20Reach%20out%20as%20soon%20as%20you%20can.`;
---

<section class="home__contact">
  <Quote
    text={QUOTE_TEXT}
    className="hidden home__contact__desc max-sm:text-justify md:block"
  />

  <Line position="left" />

  <MarqueeText text={MARQUEE_TEXT} emailLink={EMAIL_LINK} />

  <Line position="right" />

  <EmailButton email={CONTACT_EMAIL} />
</section>
